:root{
  --orange:#f39c12;
}
body{
  margin: 0;
}
.login-btn{
  border: 0;
}
.login-btn:hover{
  background-color: var(--orange);
}
.login-error{
  background-color: red;
  color: #ffffff;
}
@media screen and (max-width:600px){
  .login-form{
    height: 100vh;
  }
}